* {
  padding: 0;
  margin: 0;
}

.App {
  height: 100vh;
  width: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://source.unsplash.com/random/1920x1080");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navbar {
  position: fixed;
  height: 5%;
  width: 100%;
  top: 0;
  /* overflow-x: hidden; */

  font-family: "Playfair Display", serif;
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center; */
}
.navbar div {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.8;
}
.navbar div h2 {
  color: whitesmoke;
  letter-spacing: 0.2rem;
}

.quote-container {
  background-color: rgb(7, 7, 7);
  color: antiquewhite;
  height: 40%;
  width: 55%;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.quote {
  margin-bottom: 20px;
  padding: 5px;
  font-family: "Playfair Display", serif;
  font-size: 1.6rem;
}
.btn {
  padding: 0.6em;
  margin: 0.3em;
  cursor: pointer;
  border-radius: 10px;
  text-decoration: none;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  transition: all 0.2s;
  border: none;
}
.btn:hover {
  color: whitesmoke;
  background-color: black;
}
